.filter__section {
    background-color: var(--co-beige);
}

.filter__form {
    height: 48px;

}

.form {
    height: 32px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    height: 48px;
}

.form__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--co-white);
    border: 1px solid var(--co-light-grey);
    border-radius: 6px;
    
}

.form__text{
    height: 32px;
    width: 180px;
    padding: 0 0 0 15px;
}
.form__descr{
    font-size: 14px;
    color: var(--co-black);
}

.search{
    width: 260px;

    img{
        padding: 0 8px 0 0;
    }
}

.form__group-btn{
    font-size: 12px;
    color: var(--co-blue);
}

