:root{
    --co-white:#ffff;
    --co-beige:#F6FCFF;
    --co-black:#000000;



    --co-dark-grey:#252C32;
    --co-light-grey:#DDE2E4;
    --co-grey:#84919A;

    --co-blue:#0E73F6;
    --co-light-blue:#4094F7;

    

    --co-card-btn: #EEF0F2;

    



    

}
